/**********

ALL

**********/

html {
	width: 100%;
	height: 100%;
	font-size: 14px;
}

body {
	background: #eee;
	font-family: 'Vaivai',Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0 auto;
	height: 100%;
}

.clear{
	clear: both;
}

/****************************
*
* MENU
*
****************************/

header {
	color: white;
	font-size: 26px;
	height: 10%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	z-index: 1000;
} 

.manu-container{
	height: 100%;
	position: relative;
}
.manu{
	position: absolute;
	height: 100%;
	z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.manu a{
	font-size: 26px;
	color:  #eee;
	font-weight: bold;
    font-family: 'Big Bimbo NC', Arial;
}

.manu .logo img{
	height: 120%;
	margin: 10px 80px;
}

.manu a:hover{
	color:  #ED237A;
}

/****************************
*
* LEAF ANIMATION
*
****************************/


/****************************
text + animation container 
****************************/

.tropical-presentation{
	height: 80%;
	background-color: #222;
	position: relative;
	box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.75);
}

/****************************
animation container 
****************************/

.leaf-container{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

/* jungle bg */
.jungle{
	position: absolute;
	top: -10%;
	left: -0%;
	z-index: 2;
	animation-name: scaling-bg;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-oute;
	will-change: transform;
	animation-delay: 0.5s;
}

@keyframes scaling-bg{
	0%{transform: scale(1);}
	100%{transform: scale(5);}
}

/* 1st type of leaf */
.leaf-1{
	width: 40%;
	position: absolute;
	top: 0px;
	right: -5%;
	transform-origin: -10% 50%;
	animation-name: scaling-leaf-one;
	animation-duration: 0.8s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-oute;
	will-change: transform-origin;
}

@keyframes scaling-leaf-one{
	0%{transform-origin: -10% 50%; right: -5%;}
	100%{transform-origin: -60% 50%; right: -30%;}
}

/* 2nd type of leaf */
.leaf-2{
	width: 40%;
	position: absolute;
	bottom: -5%;
	left: -5%;
	animation-delay: 0.5s;
	transform-origin: 110% 10%;
	animation-name: scaling-leaf-two;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-oute;
	will-change: transform-origin;
}

@keyframes scaling-leaf-two{
	0%{transform-origin: 110% 20%; left: -5%;}
	100%{transform-origin: 160% 20%; left: -30%;}
}

/* animated radial gradient */
.radial-gradient{
	width: 100%;
	height: 100%;
	position: absolute;
	animation-delay: 0.5s;
	background-image: radial-gradient(circle at center , rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 15%);
	z-index: 1;
	animation-name: scaling-rg;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	will-change: background-image;
}

@keyframes scaling-rg{
	0%{background-image: radial-gradient(circle at center , rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 15%);}
	100%{background-image: radial-gradient(circle at center , rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);}
}

/****************************
text container 
****************************/

.tropical-text{
	background-image: url(../images/bg.png);
	width: 100%;
	height: 100%;
	color: #eee;
	text-align: center;
	position: relative;
    text-transform: uppercase;
}

.tropical-text div{
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
}

.tropical-text div h1{
	margin-top: 10%;
	font-size: 42px;
	color: #3B7800;
    font-family:'Big Bimbo NC', Arial;
}

.tropical-text div p{
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	line-height: 180%;
}

/****************************
*
* INFO + MAP
*
****************************/


/* container */
.tour-info{
	background-color: #dddddd;
	padding-top: 40px;
	padding-left: 10%;
}

/* title container */
.info-title{
	height: 100px;
	text-align: center;
	position: relative;
    font-size: 20px;
}

.info-title h2{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-size: 36px;
	font-family: 'Indie Flower', cursive;
	color: #ED237A;
}

.info-map p {
    font-size: 250%;
}

/* map */

.info-map{
	float: left;
	width: 30%;
	text-align: center;
	color: #222;
	padding-top: 10%;
}

.map{
	position: relative;
	width: 70%;
	float: left;
	text-align: center;
}

.map img{
	margin: 30px 0px;
	width: 70%;
}

.pin{
	position: absolute;
	width: 40px!important;
	transition: all 0.15s ease-in-out;
	margin: 10px 10px;
}

.pin:hover{
	transform: translateY(-4px);
}

.pin-1{
	left: 41%;
	top : 15%;
}

.pin-2{
	left: 68%;
	top: 18%;
}

.pin-3{
	left: 50%;
	top : 55%;
}

.pin-4{
	left: 50%;
	top: 13%;
}
.pin-5{
	left: 60%;
	top : 32%;
}

.pin-6{
	left: 55%;
	top: 33%;
}
.pin-7{
	left: 45%;
	top : 33%;
}
.pin-8{
	left: 62%;
	top : 52%;
}
.pin-9{
	left: 67%;
	top: 28%;
}
.pin-10{
	left: 52%;
	top : 52%;
}

.pin-11{
	left: 61%;
	top: 17%;
}
.pin-12{
	left: 58%;
	top : 46%;
}

.pin-13{
	left: 74%;
	top: 50%;
}

/* pop up */

.pop-up{
	position: absolute;
	z-index: -10;
	height: 250px;
	width: 600px;
	background-color: #eee;
	opacity: 0;
	transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	-webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    font-size: 200%;
    margin-top: -2%;
}

.pop-up .event-info{
	width: 60%;
	height: 100%;
	background-color: #eee;
	float: left;
	padding-top: 15%;
}

.pop-up .event-picture{
	width: 40%;
	height: 100%;
	background-color: green;
	float: left;
}

/********************

        SLIDER

*********************/

.products-container{
	text-align: center;
	background-color: #222;
	font-size: 500%;
	color: #eee;
	padding-top: 60px;
	padding-bottom: 40px;
	box-shadow: 0px -8px 12px 0px rgba(0,0,0,0.75);
}

.slider-container{
	position: relative;
	overflow: hidden;
	height: 60%;
}

.slider-container img{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10
}

.slider-infos{
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	width: 100%;
	color: #eee;
	position: absolute;
	top: 50%;
	z-index: 1000;
	transform: translateY(-50%);
}
.slider-infos h2 {
    font-family: 'Big Bimbo NC', Arial;
}
.slider-infos p{
	width: 50%;
	margin: 0 auto;
    font-size: 200%;

}
.slider-infos a{
	background-color: #ED237A;
	padding: 10px 30px;
	border: 1px solid white;
    font-family: 'Big Bimbo NC', sans-serif;
    font-weight: bold;
    color: white;
}

/********************

        FOOTER

        *********************/
        footer {
        	background-image: url(../images/bg.png);
        	width: 100%;
        	position: relative;	
        }

        .palmiers {
        	z-index: 1000;
        	width: 15%;
        	margin-left: 5%;
        	position: absolute;
        	transform: translateY(-100%);
        }

        div[class^="socialNetwork"] div img {
        	margin: 2%;
        	width: 30%;
        }

        .socialNetwork1 {
        	display: inline-block;
        	width: 100%;
        	margin: auto;
        	text-align: center;
        	margin-top: 2%;
        }

        .socialNetwork1>div a p{
        	padding:0;
        	padding-left: 20%;
        	display: inline-block;
        	font-size: 16px;
        	color: white;
        	position: relative;
        	left: -5%;
        	z-index: 2;
        	margin-top: 20%;
        }

        .socialNetwork1>div {
        	width: 100%;
        }

        /********************

        CONCOURS

*********************/
@font-face {
    font-family: "Big Bimbo";
    src: url("../fonts/BigBimboNC.ttf") format("truetype");
}

@font-face {
    font-family: "mainleveregular";
    src: url("../fonts/mainleveregular.ttf") format("truetype");
}

@font-face {
    font-family: "Vaivai";
    src: url("../fonts/Vaivai_Handwritting.ttf") format("truetype");
}

.concours{
    padding-top: 50px;
}

.concours h1 {
    margin-bottom: 5%;
}
.concours h2 {
    color: #ed237a;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 4%;
    font-size: 320%;
    font-family: 'Big Bimbo NC', sans-serif;
}
.concours h3 {
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Big Bimbo NC', sans-serif;
}
.concours p {
    text-align: center;
    font-size: 245%;
}
.affiche{
    margin-top: 4%; 
}
img.afficheConcours {
    opacity: 0.85;
    background-color: #fff;
    width: 110%;
}
.affiche h3 {
    margin: auto;
    padding: 2%;
    background-color:rgba(191,170,143, 0.1);
    font-size: 120%;
}

.concours {
    margin-bottom: 5%;
}
.affiche>h3 {
    font-family: 'vaivai', cursive;
    font-size: 110%;
    text-align: center;
    text-transform: uppercase;
    color: #ed237a;
}
body{
    background-image: url(../images/product-background.png);
}
img.afficheConcours:hover {
    opacity: 1;
}

container {
    font-family: "Dosis", sans-serif;
    overflow-x: hidden;
    background-color: aliceblue;
    z-index: 1;
}
container>h1 {
    margin-bottom: 2%;
    text-align: center;
}

.question {
    margin-top: 50px;
    font-size: 20px;
}

.intitule {
    line-height: 34px;
    font-size: 28px;
    font-family: "Vaivai";
    text-transform: uppercase;
}

#results {
    margin-top: 30px;
    height: 0px;
    width: 100%;
}

.tweet {
    width: 100%;
    height: 100px;
}
.titre {
    text-align: center;
    font-family: "Vaivai";
    font-size: 50px;
    color: #ed237a;
    margin-top: -2%;
    margin-bottom: 4%;
}
.titre>p {
    margin-bottom: -2%;
}

/* STATS */

.stats {
    margin-top: 100px;
    text-align: center;
}

.stat {
    font-family: "Big Bimbo";
    font-size: 100px;
    color: #ed237a;
}


/* FORMS */

input[type=radio],
input[type=checkbox] {
    /* Cacher les originaux */
    visibility: hidden;
    position: absolute;
}

input[type=radio] + label:before,
input[type=checkbox] + label:before {
    height: 20px;
    width: 20px;
    margin-right: 2px;
    content: " ";
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid;
    border-color: black;
    margin-right: 10px;
    margin-bottom: -5px;
}

input[type=submit] {
    background-color: #ed237a;
    color: white;
    border: solid 0px;
    font-family: "Vaivai";
    font-size: 40px;
    line-height: 20px;
    padding: 20px 20px 15px 20px;
    border-radius: 10%;
    transition: all .2s ease;
    margin-top: 0px;
}

input[type=submit]:hover {
    opacity: .5;
    transition: all .2s ease;
}

input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before {
    background: #ed237a;
}

input[type=radio] + label:before {
    border-radius: 50%;
}

input[type=checkbox] + label:before {
    border-radius: 2px;
}

input:focus {
    outline-width: 0;
}

label[class^="right-answer"] {
    transition: all .5s ease;
}

.produits{
    padding-top: 150px;
}

.produits>div img{
    width: 70%;
}
.produits h2 {
    font-family: "Vaivai";
    src: url("../fonts/Vaivai_Handwritting.ttf") format("truetype");
    font-size: 3em;
    color: #ed237a;
}
div[class^="produit_"] h3 {
    font-family: "Big Bimbo";
    src: url("../fonts/BigBimboNC.ttf") format("truetype");
    color: firebrick;
}

.eauDeCoco{
	margin-bottom: 50px;
}

.cocoFruits{
	padding-top: 20px;
	margin-bottom: 80px;
}

.produits p{
	margin-bottom: 30px;
    font-size: 200%;
}

.produits a{
	background-color: #ed237a;
	padding: 10px 30px;
	color: #fff;
}